.container {
  display: inline-flex;
  margin-top: 60px;
  height: calc(100vh - 60px);
  width: 100%;

  min-height: 640px;

}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  
  height: 100%;
  width: 48%;
  min-width: 400px;
  margin-left: auto;

}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;

  height: 100%;
  width: 48%;
  min-width: 400px;
  margin-right: auto;

}

.nav {
  position: fixed;
  display: flex;
  top: 0px;
  background-color: #ab52ff;
  height: 60px;
  width: 100%;
  z-index: 10;
  align-items: center;
  padding: 0px 20px;
}

.error {
  color: red;
  font-size: 14px;
  height: 30px;
  margin-top: 0;
  padding: 0;
  text-align: center;
  vertical-align: top;
}

.card {
  display: flex;
  width: 100%;
  min-width: 300px;
  height: calc(100% - 20px);
  margin: 10px auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 2px 4px 6px #000;
  border-radius: 10px;
  justify-content: space-between;
  transition: 0.3s ease-out;
  flex-wrap: wrap;
  gap: auto;

}

.card:hover {
  transform: scale(1.02);
  box-shadow: 3px 6px 12px #000;
}

.cardTitle {
  display: flex;
  width: 38%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.cardContent {
  display: flex;
  width: 62%;
  min-width: 200px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.walletCardTitle {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.walletCardContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  height: calc(100% - 60px);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  align-items: center;
  padding: 0px;
  justify-content: space-between;
  margin: 0;

}

.interaction {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  align-items: center;
  justify-content: center;
}

.bal {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
  
}

.bal h2 {
  font-size: 10vw;
}

.nfts {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
  overflow-y: auto;
  color: transparent;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);


}

.nfts::-webkit-scrollbar {
  width: 1vw;
}

.nfts::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 1vw;
}

.nfts::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.05);
}

.nfts p {
  width: auto;
  font-size: 18px;
  color: #fff;
  margin: 10px 0px;
  word-break: break-all;
}

.nft {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.nftImg {
  padding: 0;
  margin: 0 auto;
  height: 100px;
  border-radius: 10px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.6);
  transition: 0.3s ease-out;
}

.nftImg:hover {
  transform: scale(1.03);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}

.submitButton {
  margin-bottom: 0px;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  transition: 0.3s;
  background-color: #ab52ff;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  border: none;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.submitButton:hover {
  background-color: #963de9;
  transform: scaleX(1.02);
}

@media only screen and (max-width: 940px) {

  .container {
    height: 100%;
    display: block;
  }

  .leftContainer {
    width: 100%;
    height: 600px;
  }

  .rightContainer {
    width: 100%;
    height: calc(100vh - 80px);
  }

  .cardTitle {
    width: 100%;
    height: 60px;
  }

  .cardContent {
    width: 100%;
    min-width: 200px;
    height: calc(100% - 60px);
    border-radius: 10px;
  }
  .bal {
    max-height: 140px;
  }

  .bal h2 {
    font-size: 14vw;
  }

  .nfts::-webkit-scrollbar {
    width: 2vw;
  }
  
  .nfts::-webkit-scrollbar-thumb {
    border-radius: 2vw;
  }
}